.teal .container .navbar-inverse {
    background: #008b94 none repeat scroll 0 0!important
}

.teal .navbar.navbar-inverse .selected {
    background: #008b94 none repeat scroll 0 0!important
}

.teal .navbar-default {
    box-shadow: none
}

.teal a.item-name,
.teal ul.tree.nav>li>a:hover>i,
.teal ul.tree.nav li li a:hover>i,
.teal ul.tree.nav li li a.active>i,
.teal ul.tree.nav li a.active>i {
    color: #008b94
}

.teal .btn-move {
    background: #01aeb9;
    color: #fff;
    text-align: center;
    vertical-align: central;
    padding: 5px;
    display: block;
    height: 180px
}

.teal .step3-bg2 {
    background-color: #01aeb9;
    padding: 15px 0 15px 10px!important;
    position: relative
}

.teal .step3-bg2.arrow:before {
    border-color: transparent transparent #01aeb9;
    border-style: solid;
    border-width: 0 12px 11px;
    content: " ";
    height: 1px;
    position: absolute;
    right: 22%;
    top: -10px;
    width: 0;
    z-index: 1001
}

.teal .course {
    background-color: #01aeb9
}

.teal ul.tree.nav>li li>a.k-state-selected,
.teal ul.tree.nav>li li>span.k-state-selected,
.teal .k-group>li>div>span>a:hover,
.teal .k-group>li>div>span.k-state-selected>a {
    color: #01aeb9;
    background: #f1f1f1
}

.teal .k-group>li>div>span>a:hover>i,
.teal .k-group>li>div>span.k-state-selected>a>i,
.teal ul.tree a:hover>i>i,
.teal ul.tree span.k-state-selected>a>i>i,
.teal ul.tree li>div:hover>span,
.teal ul.tree li[id$="_tv_active"]>div>span {
    color: #01aeb9
}

.teal .modal-status .modal-title {
    border-radius: 5px;
    padding: 10px 0;
    background: #01aeb9;
    color: #fff;
    text-align: center
}

.teal .header-blue {
    background-color: #008b94;
    min-height: 47px
}

.teal .like-link {
    color: #01aeb9
}

.teal .text-blue {
    color: #01aeb9
}

.teal .navbar-inverse .btn-link:hover {
    background: #008b94 none repeat scroll 0 0!important
}

.teal .navbar-inverse .right .btn-link:hover {
    background: #01aeb9 none repeat scroll 0 0!important
}

.teal .cs_leftBtn,
.teal .cs_rightBtn {
    background: #01aeb9 none repeat scroll 0 0
}

.teal .pagination>li>a,
.teal .pagination>li>span {
    color: #01aeb9
}

.teal .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
.teal .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
    background: #008b94 none repeat scroll 0 0;
    color: #fff
}

.teal .bootstrap-datetimepicker-widget td span.active,
.teal .bootstrap-datetimepicker-widget td.active,
.teal .bootstrap-datetimepicker-widget td.active:hover {
    background-color: #006dcc;
    background-image: linear-gradient(to bottom, #01aeb9, #008b94);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25)
}

.teal .cs_article .btn-default.active {
    background-color: #008b94;
    border: 1px solid #008b94
}

.teal .form-control:focus {
    border-color: #008b94
}

.teal input[type="text"]:not(.no-border):hover,
.teal input[type="text"]:not(.no-border):focus {
    border: 1px solid #01aeb9
}

.teal .round.active .round-box i {
    background-color: #008b94;
    border: 2px solid #008b94
}

.teal .round.active .request-tittle {
    color: #008b94
}

.teal .header-line {
    background-color: #01aeb9
}

.teal .table>thead>tr>th,
.teal .list-view-header {
    border-color: #01aeb9
}

.teal .custom-check input[type='checkbox']:checked+span {
    background: #01aeb9;
    border-color: #01aeb9
}

.teal .dnd-dropbox {
    border-color: #01aeb9
}

.teal a.link,
.teal .custom-footer-text a {
    color: #01aeb9
}

.teal .round-box {
    border-color: #01aeb9
}

.teal .round-box i i {
    color: #01aeb9
}

.teal tr.k-state-selected td,
.teal .list-item.k-state-selected {
    background-color: #e5f6f8!important
}

.teal .profile-link>a:last-child {
    color: #01aeb9
}

.teal .modal-header {
    border-color: #01aeb9
}

.teal .modal-collapsible-header {
    background-color: #01aeb9
}

.teal .btn-primary,
.teal .btn-primary:disabled,
.teal .btn-primary[disabled] {
    background-color: #01aeb9
}

.teal .btn-primary:hover,
.teal .btn-primary:active,
.teal .btn-primary:focus {
    background-color: #008b94
}