<section class="section">
    <div class="header-menu" style="height: 60px;">
            
        <a class="file-action" id="uploadFile" title="Upload File" ng-click="$ctrl.showFileSelect()">
            <i class="fa fa-upload"></i>
        </a>
        <a class="file-action" id="uploadFile" title="Create Folder" ng-click="$ctrl.showNewFolderInput=true">
            <i class="fas fa-folder-plus"></i>
        </a>
        <a class="file-action" ng-show="$ctrl.selectedFiles.length == 1 && !$ctrl.selectedFiles[0].isDirectory"  title="Download File" ng-click="$ctrl.downloadFile($ctrl.selectedFiles[0])">
            <i class="fa fa-download"></i>
        </a>
        <a class="file-action" ng-show="$ctrl.selectedFiles.length"  title="Delete File" ng-click="$ctrl.deleteAction()">
            <i class="fa fa-trash"></i>
        </a>
        <a class="file-action" ng-show="$ctrl.selectedFiles.length == 1"  title="Rename File" ng-click="$ctrl.startRenameFile($ctrl.selectedFiles[0])">
            <i class="fa fa-pencil"></i>
        </a>
        <a class="file-action" ng-show="$ctrl.selectedFiles.length"  title="Copy/Move File" ng-click="$ctrl.showMoveModal()">
            <i class="fa fa-copy"></i>
        </a>
        <a class="file-action" ng-show="$ctrl.selectedFiles.length"  title="Share" ng-click="$ctrl.share()">
            <i class="fas fa-external-link-alt"></i>
        </a>
    </div>
    <input id="file1" style="display: none" type="file" onchange="angular.element(this).scope().$ctrl.handleFileAdd(this)"/>
</section>
<section class="section">
    <div class="header-menu">
        
        <ol class="breadcrumb">
            <li><a class="pointer" ng-click="$ctrl.gotToPath(-1)">WorkDrive</a></li>
            <li ng-repeat="path in $ctrl.folderStack">
                <a class="pointer" ng-click="$ctrl.gotToPath($index)">{{path}}</a>
            </li>
        </ol>
    </div>
</section>
<section class="section">
    <table role="grid" class="table table-responsive table-striped horizontal-scroll">
        <thead>
            <tr>
                <!-- <th scope="col">
                    <i class="fa fa-check fa-grid-select">
                    </i>
                </th> -->
                <th class="k-header k-filterable" data-field="fileName" data-title="Name" scope="col" data-role="sortable">
                    <a class="k-grid-filter" tabindex="-1">
                        <span class="k-icon k-filter">
                        </span>
                    </a>
                    <a class="k-link">Name</a>
                </th>
                <th class="k-header k-filterable" data-field="lastModificationTime" data-title="Modified" scope="col" data-role="sortable">
                    <a class="k-grid-filter" tabindex="-1">
                        <span class="k-icon k-filter">
                        </span>
                    </a>
                    <a class="k-link">Modified</a>
                </th>
                <th class="k-header k-filterable" data-field="FileExtension" data-title="Type" scope="col" data-role="sortable">
                    <a class="k-grid-filter" tabindex="-1">
                        <span class="k-icon k-filter">
                        </span>
                    </a>
                    <a class="k-link">Type</a>
                </th>
                <th class="k-header k-filterable" data-field="Size" data-title="Size" scope="col" data-role="sortable">
                    <a class="k-grid-filter" tabindex="-1">
                        <span class="k-icon k-filter">
                        </span>
                    </a>
                    <a class="k-link">Size</a>
                </th>
            </tr>
        </thead>
        <tbody style="width: 697px;">

            <tr ng-show="$ctrl.showNewFolderInput">
                <!-- <td class="grid-select-col" role="gridcell"></td> -->
                <td class="closer-left" role="gridcell">
                    <span title="">
                        <i class="fa fa-lg fa-folder-o"></i>
                    </span>
                    <input class="item-name form-control" type="text" ng-model="$ctrl.newFolderName" style="display: inline" on-enter-press="$ctrl.createFolder()" />
                    <i class="fa fa-check" ng-click="$ctrl.createFolder()"></i>
                    <i class="fa fa-times" ng-click="$ctrl.showNewFolderInput=false;$ctrl.newFolderName=''"></i>
                </td>
                <td class="grid-select-col" role="gridcell"></td>
                <td class="grid-select-col" role="gridcell"></td>
                <td class="grid-select-col" role="gridcell"></td>
            </tr>

            <tr ng-show="!$ctrl.files.length">
                <!-- <td role="gridcell"></td> -->
                <td role="gridcell">{{$ctrl.fileLoadStatus}}</td>
                <td role="gridcell"></td>
                <td role="gridcell"></td>
                <td role="gridcell"></td>
            </tr>
            
            <tr ng-repeat="file in $ctrl.files | groupBy:'-isDirectory'" ng-class="{ 'k-state-selected':file.isSelected}" ng-click="$ctrl.toggleFileSelect(file)">
                
                <!-- <td class="grid-select-col" role="gridcell">
                    <i class="fa fa-check fa-grid-select"></i>
                </td> -->
                <td class="closer-left" role="gridcell">
                    <span title="">
                        <i class="fa fa-check fa-grid-select"></i>
                        <i class="fa fa-lg" ng-class="{'fa-folder-o': file.isDirectory, 'fa-file-image-o': !file.isDirectory}"></i>
                        <!-- <i class=""></i><i class="fa fa-lock "></i> -->
                    </span>
                    <a ng-show="!file.isRenaming" class="item-name" ng-click="$ctrl.goToDirectory(file)" ng-class="{'pointer': file.isDirectory}">{{file.fileName}}</a>
                    <input ng-show="file.isRenaming" class="item-name form-control" type="text" ng-model="file.editedName" style="display: inline" on-enter-press="$ctrl.updateFileName(file)"/>
                    <i class="fa fa-check" ng-show="file.isRenaming" ng-click="$ctrl.updateFileName(file)">
                    </i>
                    <i class="fa fa-times" ng-show="file.isRenaming" ng-click="$ctrl.cancelFileUpdate(file)">
                        </i>
                    <!-- <a class="item-name">
                        
                    </a> -->
                </td>
                <td role="gridcell">{{file.lastModificationTime| date : "MM/dd/yyyy h:mm a"}}</td>
                <td role="gridcell">{{$ctrl.getFileType(file)}}</td>
                <td role="gridcell">{{$ctrl.getFileSize(file.fileSize)}}</td>
            </tr>
            
            <!-- <tr data-uid="8e054c1a-b4ef-495e-bc62-1d7f0c8215b8" role="row">
                
                <td class="grid-select-col" role="gridcell">
                    <i class="fa fa-check fa-grid-select">
                    </i>
                </td>
                <td class="closer-left" role="gridcell">
                    <span title="">
                        <i class="fa fa-file-image-o fa-lg">
                        </i>
                        <i class="">
                        </i>
                        <i class="fa fa-lock ">
                        </i>
                    </span>
                    <a class="item-name" href="#">Test File 1.png</a>
                </td>
                <td role="gridcell">03/19/2019 6:10 AM</td>
                <td role="gridcell">png</td>
                <td role="gridcell" title="116.7 KB">116.7 KB</td>
            </tr> -->
        </tbody>
    </table>
</section>

<ng-include src="'./ng-app/pages/files/share-popup.html'"></ng-include>
<ng-include src="'./ng-app/pages/files/move-file-popup.html'"></ng-include>

