<!-- <div>
    
</div> -->

<section class="section">
    <div class="header-menu">
        <a id="uploadFile" style="cursor: pointer;position: absolute;padding: 22px;font-size: 24px;right: 0;" title="Upload File" ng-click="$ctrl.showFileSelect()">
            <i class="fa fa-upload"></i>
        </a>
        <ol class="breadcrumb">
            <li><a class="pointer" ng-click="$ctrl.gotToPath(-1)">WorkDrive</a></li>
            <li ng-repeat="path in $ctrl.folderStack">
                <a class="pointer" ng-click="$ctrl.gotToPath($index)">{{path}}</a>
            </li>
        </ol>
    </div>
    <input id="file1" style="display: none" type="file" onchange="angular.element(this).scope().$ctrl.handleFileAdd(this)">
</section>
<section class="section">
    <table role="grid" class="table table-responsive table-striped">
        <thead>
            <tr>
                <th scope="col">
                    <i class="fa fa-check fa-grid-select">
                    </i>
                </th>
                <th class="k-header closer-left k-filterable" data-field="fileName" data-title="Name" scope="col" data-role="sortable">
                    <a class="k-grid-filter" tabindex="-1">
                        <span class="k-icon k-filter">
                        </span>
                    </a>
                    <a class="k-link">Name</a>
                </th>
                <th class="k-header k-filterable" data-field="lastModificationTime" data-title="Modified" scope="col" data-role="sortable">
                    <a class="k-grid-filter" tabindex="-1">
                        <span class="k-icon k-filter">
                        </span>
                    </a>
                    <a class="k-link" href="/web/Storage?filesGrid-sort=lastModificationTime-asc">Modified</a>
                </th>
                <th class="k-header k-filterable" data-field="FileExtension" data-title="Type" scope="col" data-role="sortable">
                    <a class="k-grid-filter" tabindex="-1">
                        <span class="k-icon k-filter">
                        </span>
                    </a>
                    <a class="k-link" href="/web/Storage?filesGrid-sort=FileExtension-asc">Type</a>
                </th>
                <th class="k-header k-filterable" data-field="Size" data-title="Size" scope="col" data-role="sortable">
                    <a class="k-grid-filter" tabindex="-1">
                        <span class="k-icon k-filter">
                        </span>
                    </a>
                    <a class="k-link" href="/web/Storage?filesGrid-sort=Size-asc">Size</a>
                </th>
            </tr>
        </thead>
        <tbody style="width: 697px;">

            <tr ng-repeat="file in $ctrl.files" ng-class="{ 'k-state-selected':file.isSelected}">
                
                <td class="grid-select-col" role="gridcell">
                    <i class="fa fa-check fa-grid-select">
                    </i>
                </td>
                <td class="closer-left" role="gridcell">
                    <span title="">
                        <i class="fa fa-lg" ng-class="{'fa-folder-o': file.isDirectory, 'fa-file-image-o': !file.isDirectory}">
                        </i>
                        <i class="">
                        </i>
                        <i class="fa fa-lock ">
                        </i>
                    </span>
                    <a class="item-name" ng-click="$ctrl.goToDirectory(file)" ng-class="{'pointer': file.isDirectory}">{{file.fileName}}</a>
                </td>
                <td role="gridcell">{{file.lastModificationTime| date : "MM/dd/yyyy h:mm a"}}</td>
                <td role="gridcell">{{$ctrl.getFileType(file)}}</td>
                <td role="gridcell">{{$ctrl.getFileSize(file.fileSize)}}</td>
            </tr>

            <!-- <tr data-uid="8e054c1a-b4ef-495e-bc62-1d7f0c8215b8" role="row">
                
                <td class="grid-select-col" role="gridcell">
                    <i class="fa fa-check fa-grid-select">
                    </i>
                </td>
                <td class="closer-left" role="gridcell">
                    <span title="">
                        <i class="fa fa-file-image-o fa-lg">
                        </i>
                        <i class="">
                        </i>
                        <i class="fa fa-lock ">
                        </i>
                    </span>
                    <a class="item-name" href="#">Test File 1.png</a>
                </td>
                <td role="gridcell">03/19/2019 6:10 AM</td>
                <td role="gridcell">png</td>
                <td role="gridcell" title="116.7 KB">116.7 KB</td>
            </tr> -->
        </tbody>
    </table>
</section>
