<div class="modal" id="moveFilePopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="MoveFileController as $ctrl">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Copy/Move</h4>
            </div>
            
            <div class="modal-body">
                <ol class="breadcrumb">
                    <li><a class="pointer" ng-click="$ctrl.gotToPath(-1)">WorkDrive</a></li>
                    <li ng-repeat="path in $ctrl.folderStack">
                        <a class="pointer" ng-click="$ctrl.gotToPath($index)">{{path}}</a>
                    </li>
                </ol>
                
                <table role="grid" class="table table-responsive table-striped">
                    <!-- <thead>
                        <tr>
                            <th scope="col">
                                <i class="fa fa-check fa-grid-select">
                                </i>
                            </th>
                            <th class="k-header closer-left k-filterable" data-title="Name" scope="col" data-role="sortable">
                                <a class="k-link">Name</a>
                            </th>
                        </tr>
                    </thead> -->
                    <tbody>
                        <tr ng-repeat="folder in $ctrl.folders" ng-click="$ctrl.goToDirectory(folder)">
                            <!-- ng-click="$ctrl.selectFolder(folder)" -->
                            <!-- ng-click="$ctrl.toggleFolderSelect(folder)"  -->
                            <!-- <td class="grid-select-col" role="gridcell">
                                <i class="fa fa-check fa-grid-select"></i>
                            </td> -->
                            <td class="closer-left" role="gridcell" >
                                <span title="">
                                    <i class="fa fa-lg fa-folder-o"></i>
                                </span>
                                <a class="item-name" ng-click="$ctrl.goToDirectory(folder)" class="pointer">
                                    {{folder.fileName}}
                                </a>
                            </td>
                        </tr>
                        
                        <tr ng-show="!$ctrl.folders.length">
                            <td></td>
                            <td>{{$ctrl.loadStatus}}</td>
                        </tr>
                    </tbody>
                </table>
                
                <!-- <span>
                    <label for="movePath">Destination :</label>
                    <span id="movePath">{{$ctrl.selectedPath||'/'}}</span>
                </span> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                    <i class="fa fa-close">
                    </i>
                    Cancel
                </button>
                <button type="button" class="btn btn-primary btn-sm" ng-click="$ctrl.copy()">
                    <!-- <i class="fa fa-envelope"></i> -->
                    <i class="far fa-copy"></i>
                    Copy Here
                </button>
                <button type="button" class="btn btn-primary btn-sm" ng-click="$ctrl.move()">
                    <i class="fas fa-hand-rock"></i>
                    Move Here
                </button>
            </div>
        </div>
    </div>
</div>